@import "@/css/utils.scss";

.mapContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 200px;

  @include breakpoint(laptop) {
    height: 600px;
  }
}