@import "@/css/utils.scss";

.FV {
  position: relative;
  width: 100%;
  height: 215px;

  @include breakpoint(laptop) {
    height: 700px;
  }

  img {
    @include breakpoint(laptop) {
      object-position: 0 0;
      filter: none;
    }
  }
}

.FVtext {
  position: relative;
  color: white;
  font-size: 14px;
  padding-top: 59px;
  padding-left: 32px;

  @include breakpoint(laptop) {
    position: absolute;
    padding-top: 0;
    top: 104px;
    left: 120px;
    font-size: 18px;
  }

  .biggest {
    font-size: 13px;
    font-weight: 600;

    @include breakpoint(laptop) {
      font-size: 51px;
    }
  }

  .bigger {
    font-size: 11px;
    font-weight: 600;

    @include breakpoint(laptop) {
      font-size: 29px;
    }
  }

  .fvDesc{
    margin-top: 100px;
    margin-left: 20px;
  }
}

.section1{
  display: block;
  padding: 48px 0 48px 32px;
  font-size: 13px;
  @include breakpoint(laptop) {
    display: none;
  }
}

.h2 {
  padding-bottom: 24px;
  font-size: 24px;
  text-align: center;

  @include breakpoint(laptop) {
    padding-bottom: 60px;
    font-size: 38px;
  }
}

.section2Container,
.section3Container,
.section4Container,
.section5Container {
  padding: 60px 24px;

  @include breakpoint(laptop) {
    padding: 120px 0;
  }
}

.section2Container {
  background: linear-gradient(180deg, #e9eef2 0%, rgba(202, 213, 225, 1) 100%);

  .section2BoxContainer {
    display: block;

    @include breakpoint(laptop) {
      display: flex;
      gap: 0 24px;
    }

    .section2Box {
      display: flex;
      flex-basis: 100%;
      background: white;
      box-shadow: #c3c0c0 2px 2px 10px;
      margin-top: 16px;

      @include breakpoint(laptop) {
        display: block;
        margin-top: 0px;
      }

      .imageContainer {
        width: 100px;

        @include breakpoint(laptop) {
          width: auto;
        }
      }

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 0 12px;
        font-size: 14px;

        @include breakpoint(laptop) {
          padding: 24px;
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }
}

.section3Container {
  padding-left: 0;
  padding-right: 0;
  @include breakpoint(laptop) {
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
  }

  input {
    display: none;
  }

  .tab2:checked,
  .tab3:checked,
  .tab4:checked,
  .tab5:checked {
    ~.section3Content .part1 {
      @include breakpoint(laptop) {
        display: none;
      }
    }
  }

  label {
    display: none;

    @include breakpoint(laptop) {
      display: inline-block;
      position: relative;
      font-size: 24px;
      padding: 12px 24px;
      gap: 24px;
      width: 20%;
      background-color: #c9cfdc;
      color: #e8ecf3;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;

      &:hover{
        background-color: darken(#c9cfdc, 5%);
      }
    }
  }

  .tab1~.tab1label {
    background-color: #f8f8f8;
    color: #80663a;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 2px 0px;
    &:hover{
      background-color: #f8f8f8;
    }
  }

  .tab2:checked~label,
  .tab3:checked~label,
  .tab4:checked~label,
  .tab5:checked~label {
    background-color: #c9cfdc;
    color: #e8ecf3;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    &:hover{
      background-color: darken(#c9cfdc, 5%);
    }
  }

  .tab2:checked~.tab2label,
  .tab3:checked~.tab3label,
  .tab4:checked~.tab4label,
  .tab5:checked~.tab5label {
    background-color: #f8f8f8;
    color: #80663a;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 2px 0px;
    &:hover{
      background-color: #f8f8f8;
    }
  }

  .tab1:checked~.section3Content .part1,
  .tab2:checked~.section3Content .part2,
  .tab3:checked~.section3Content .part3,
  .tab4:checked~.section3Content .part4,
  .tab5:checked~.section3Content .part5 {
    display: block;
  }

  .section3Content {
    text-align: left;

    @include breakpoint(laptop) {
      background-color: #f8f8f8;
      padding: 48px 124px;
    }

    .title {
      font-size: 20px;
      color: #80663a;
      text-align: center;

      @include breakpoint(laptop) {
        font-size: 30px;
      }
    }
    
    .part{
      padding: 48px 24px;
      &:first-child{
        padding-top: 0;
      }
      &:nth-child(even){
        background-color: #f8f8f8;
      }
      @include breakpoint(laptop) {
        padding: 0;
      }
    }

    .part1 {
      display: block;
    }

    .part2,
    .part3,
    .part4,
    .part5 {
      @include breakpoint(laptop) {
        display: none;
      }
    }

    .part1 {
      .contentContainer{
        margin-top: 24px;
        @include breakpoint(laptop) {
          display: flex;
          justify-content: space-between;
          margin-top: 48px;
        }
      }
      .mainContent {
        display: flex;
        font-size: 14px;
        @include breakpoint(laptop) {
          font-size: 18px;
        }
      }

      .part1desc {
        position: relative;
        min-width: 132px;
        @include breakpoint(laptop) {
          min-width: 172px;
        }
        &::after{
          display: inline;
          content: ':';
          position: absolute;
          right: 0;
        }
      }
      .part1answer{
        margin-left: 8px;
      }

      .fv3LogoContainer {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-top: 24px;
      
        @include breakpoint(laptop) {
          gap: 20px;
          margin-top: 0;
        }
      
        .fv3Logo {
          position: relative;
      
          img {
            width: 88px;
      
            @include breakpoint(laptop) {
              width: 110px;
            }
          }
      
          .fv3LogoText {
            position: absolute;
            font-size: 10px;
            width: 100%;
            -webkit-font-smoothing: antialiased;
            top: 14px;
            left: 50%;
            line-height: 1.2;
            transform: translateX(-50%);
            text-align: center;
      
            @include breakpoint(laptop) {
              font-size: 11px;
              top: 12px;
            }
          }
        }
      
        .fvMainText {
          margin-top: 4px;
          font-weight: 500;
          font-size: 15px;
      
          @include breakpoint(laptop) {
            font-size: 20px;
          }
        }
      }

      .imageContainer{
        max-width: 90%;
        margin: 0 auto;
        margin-top: 24px;
        @include breakpoint(laptop) {
          max-width: 440px;
        }
      }
    }

    .part2 {
      .malaysiaAssetBox {
        display: inline-block;
        background: #7b93ae;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        margin-right: 8px;
      }

      .assetDetailsBox {
        padding-left: 30px;
      }

      .cambodiaAssetBox {
        display: inline-block;
        background: #d9ac58;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        margin-right: 8px;
      }

      .othersAssetBox {
        display: inline-block;
        background: #e3dcb7;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        margin-right: 8px;
      }

      .assetTitle {
        font-weight: bold;
        font-size: 22px;

        @include breakpoint(laptop) {
          font-size: 24px;
        }
      }

      .assetFontSmall {
        font-size: 10px;
      }

      .assetImgContainer {
        width: 100%;

        @include breakpoint(laptop) {
          width: 360px;
        }
      }
    }

    .part3 {
      .part3Content {
        font-size: 16px;
        margin-top: 12px;

        @include breakpoint(laptop) {
          font-size: 21px;
          margin-top: 24px;
        }

        .red {
          color: #cd5a5d;
        }

        .sm {
          font-size: 12px;
        }
      }
    }

    .part4,
    .part5 {
      .text {
        font-size: 14px;

        @include breakpoint(laptop) {
          font-size: 19px;
          margin-right: 24px;
        }
      }
    }
  }
}

.blueButtonContainer{
  max-width: 700px;
  margin: 0 auto;

  &.section3BtnContainer{
    padding: 0 24px;
    @include breakpoint(laptop) {
      padding: 0;
    }
  }
}

.section4Container{
  background-color: #f9f8f5;
  .contentContainer{
    @include breakpoint(laptop) {
      max-width: 700px;
      margin: 0 auto;
    }
  }
  .content{
    &:not(:first-child){
      margin-top: 24px;
      @include breakpoint(laptop) {
        margin-top: 48px;
      }
    }
    .title{
      display: inline-block;
      font-size: 20px;
      color: #80663a;
      border-bottom: 1px solid #80663a;
      padding: 0px 8px 4px 0;
      font-weight: 500;
      @include breakpoint(laptop) {
        font-size: 24px;
      }
    }
    .description{
      margin-top: 12px;
      font-size: 14px;
      @include breakpoint(laptop) {
        font-size: 19px;
      }
    }
  }
}

.section5Container{
  .missionText{
    font-size: 20px;
    color: #307ad6;
    margin-top: 32px;
    text-align: center;
    font-weight: 500;
    @include breakpoint(laptop) {
      margin-top: 48px;
      font-size: 32px;
      text-align: left;
    }
  }
  .missionTextBig{
    font-size: 24px;
    margin-top: 32px;
    font-weight: 500;
    @include breakpoint(laptop) {
      font-size: 36px;
    }
  }

  .missionDesc{
    @include breakpoint(laptop) {
      font-size: 18px;
    }
  }
  .endoImg{
    max-width: 200px;
    min-width: none;
    margin: 0 auto;
    @include breakpoint(laptop) {
      max-width: none;
      min-width: 240px;
    }
  }
  .endoText{
    margin-left: 24px;
    margin-top: 24px;
    @include breakpoint(laptop) {
      margin-left: 48px;
      margin-top: 0;
      text-align: center;
      font-size: 26px;
      text-align: left;
    }
  }
  .endoTextSmall{
    margin-left: 24px;
    margin-top: 24px;
    @include breakpoint(laptop) {
      margin-left: 48px;
      font-size: 20px;
    }
  }
  .companyInfo{
    display: flex;
    padding: 12px 0;
    border-bottom: 2px dotted #ccc;
    align-items: center;
    font-weight: normal;
    font-size: 11px;
    @include breakpoint(laptop) {
      padding: 16px 0;
      font-size: 20px;
    }
  }
  .companyInfoTitle{
    min-width: 125px;
    @include breakpoint(laptop) {
      min-width: 300px;
      margin-left: 8px;
    }
  }
}