@import "@/css/utils.scss";

.FV{
  position: relative;
  .FVText{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.breadcrumbContainer{
  font-size: 12px;
  margin: 12px;
  @include breakpoint(desktop) {
    font-size: 14px;
    margin: 48px 100px;
  }
}

.articlesContainer{
  padding: 24px 12px;
  @include breakpoint(laptop) {
    padding: 24px 0;
  }
}